Bug Found
====================

Bug ID: {{id}}

Task Title: {{task}}

Status: {{status}}


Description
===========

Message
------------------
<p>{{message}}</p>

Steps to reproduce
------------------
<table>
    <thead>
        <tr>
            <th>Step</th>
            <th>Transition</th>
            <th>Data</th>
            <th>Places</th>
        </tr>
    </thead>
    <tbody>
        {% for index, step in path %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ step[0] }}</td>
                <td>{{ step[1]|json_encode() }}</td>
                <td>{{ step[2]|join('|') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
