{% extends 'task/layout.html.twig' %}

{% block main %}
    <h1>Task list <span><a class="btn btn-primary btn-lg" href="{{ path('tienvx_mbt_task_create') }}" role="button">
                Create a new task
    </a></span></h1>

    <div class="table-responsive">
        <table class="records_list table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Model</th>
                    <th>Algorithm</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td><a href="{{ path('tienvx_mbt_task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.model }}</td>
                    <td>{{ task.algorithm }}</td>
                    <td>{{ task.progress }}</td>
                    <td>{{ task.status }}</td>
                    <td style="text-align: center; vertical-align: middle;">
                    <ul style="list-style-type: none;">
                        <li>
                            <a class="btn btn-default btn-xs" href="{{ path('tienvx_mbt_task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li style="margin-top: 10px;">
                            <a class="btn btn-default btn-xs" href="{{ path('tienvx_mbt_task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                        <li style="margin-top: 10px;">
                            <a class="btn btn-default btn-xs" href="{{ path('tienvx_mbt_task_delete', { 'id': task.id }) }}">delete</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">There is no task</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if maxPages > 1 %}
    <ul class="pagination pagination-sm">
        {# `«` arrow  #}
        <li {{ thisPage == 1 ? 'class="disabled"' }}>
            <a href="{{ path('tienvx_mbt_task_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
        </li>

        {# Render each page number #}
        {% for i in 1..maxPages %}
        <li {{ thisPage == i ? 'class="active"' }}>
        <a href="{{ path('tienvx_mbt_task_index', {page: i}) }}">{{ i }}</a>
        </li>
        {% endfor %}

        {# `»` arrow #}
        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
            <a href="{{ path('tienvx_mbt_task_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
